
.timercontainer {
    display: flex;
    flex-wrap: wrap;
    max-width: 100%;
    height: 100%;
    place-items: center;
    position: relative;
}

.timer {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.timercontainer .timerdisplay {
    background-color: #eeeeee;
    margin: 2px;
    padding: 0.2em;
    min-width: 9ch;
    text-align: right;
}

.timercontainer .timedisplay {
    padding: 0.2em;
    margin: 2px;
    text-align: right;
    background-color: #eeeeee;
}