.calview {
    display: grid;
    grid-template-rows: min-content 1fr;
}

.calendar {
    height: 100%;
}

.calendarnavigation {
    margin-left: 2em;
    margin-right: 2em;
}

.calendargrid {
    max-width: 100vw;
    background-color: white;
    display: grid;
    grid-template-columns: 1fr repeat(7, 3fr);
    grid-template-rows: 1.5em repeat(auto-fit, minmax( 2ch, 1fr));
    grid-gap: 2px;
    height: 100%;
}

.day {
    transition: 0.4s;
    background-color: var(--header-bg-color);
    max-width: 13.5vw;
}


.day.tracked {
    box-shadow: 0px 0px 0px 1px var(--highlight-intent-color) inset;
}

.day.inactive {
    opacity: 0.5;
    background-color: #aaaaaa;
}

.day:hover {
    background-color: var(--highlight-intent-color);
}

.dateprojectbar {
    height: 1em;
    border-radius: 0.4em;
    overflow: hidden;
    margin: 2px;
    border: 1px black solid;
}

.weekday {
    background-color: var(--header-shadow-color);
    font-weight: bold;
    line-height: 1.5em;
    text-align: center;
    overflow: hidden;
    text-overflow: clip;
    white-space: nowrap;
}
.weeknumber {
    background-color: var(--header-shadow-color);
    font-size: large;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

.monthHeader {
    background-color: var(--highlight-color);
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    height: 2em;
}

.datepickercontainer {
    text-align: center;
}
.datepickercontainer>input {
    max-width: 50%;
}

.monthHeader .title {
    text-align: center;
    font-size: xx-large;
}

.monthHeader>button {
    position: relative;
    outline: none;
    background-color: var(--header-bg-color);
    cursor: pointer;
    transition: 0.3s;
    text-shadow: 1px 1px white;
}
.monthHeader>button>svg {
    position: absolute;
    top: 0;
    height: 100%;
    opacity: 0.3;
}
.monthHeader>button>svg.left {
    left: 0;
}
.monthHeader>button>svg.right {
    right: 0;
}

.monthHeader button:hover {
    background-color: var(--highlight-intent-color);
}
.day>.date {
    background-color: rgba(0,0,0,0.1);
}

.day.today {
    box-shadow: 0px 0px 0px 2px rgba(0,0,0,0.2) inset;
}
.day.today>.date {
    white-space: nowrap;
    overflow-x: hidden;
    background-color: rgba(0,0,0,0.2);
    color: white;
    text-shadow: 0px 0px 2px black;
}

.dayGrid {
    display: grid;
    grid-template-rows: min-content 1fr;
}
.dayInfoGrid {
    display: grid;
    grid-template-rows: 1fr min-content;
}

.clockarea {
    background-color: var(--header-bg-color);
}

.stats {
    margin: 2em;
}
.stat {
    text-align: right;
}

.stats .byproject{
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
}

.chartcontainer {
    flex-grow: 1;
}

.projectbarchart {
    height: 100%;
    width: 100%;
    border: 1px black solid;
    background-color: white;
}

.clocksector {
    transition: 0.3s;
}
.clocksector:hover {
    fill: lightyellow;
    stroke: darkorange;
}
.pretzelsector {
    transition: 0.3s;
}
.pretzelsector:hover {
    stroke: orange;
}