.calendargrid {
    background-color: white;
    display: grid;
    grid-template-columns: 3.5% repeat(7, 13.7%);
    grid-gap: 2px;
}

.day {
    transition: 0.4s;
    height: 6em;
    background-color: var(--header-bg-color);
}

.dayGrid {
    display: grid;
    grid-template-rows: min-content auto;
    gap: 2px;
}
.dayGrid>div {
    background-color: rgba(155,155,155,0.2);
}
.dayGrid h1 {
    margin: 0px;
}
.dayInfoGrid {
    display: grid;
    grid-template-columns: min-content auto;
    grid-template-rows: min-content;
    gap: 2px;
}
.dayInfoGrid>div {
    line-height: 100%;
    background-color: white;
}
.day.tracked {
    background-color: var(--highlight-intense-color);
}

.day.inactive {
    opacity: 0.5;
    background-color: #aaaaaa;
}
.day.inactive .dayInfoGrid>div {
    background-color: #dddddd;
}

.day:hover {
    background-color: var(--highlight-intent-color);
}
.weekday {
    background-color: var(--header-shadow-color);
    font-weight: bold;
    line-height: 2em;
    text-align: center;
}
.weeknumber {
    background-color: var(--header-shadow-color);
    font-size: large;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

.monthHeader {
    background-color: var(--highlight-color);
    display: grid;
    grid-template-columns: 20% auto 20%;
}

.monthHeader .title {
    text-align: center;
    font-size: xx-large;
}

.monthHeader button {
    border: none;
    outline: none;
    background-color: inherit;
    cursor: pointer;
    transition: 0.3s;
}

.monthHeader button:hover {
    background-color: var(--highlight-intent-color);
}


.day.today {
    border: 1px var(--header-shadow-color) solid;
}

.clockarea {
    background-color: var(--header-bg-color);
}