:root {
  --main-bg-color: lightcyan;
  --header-bg-color: lightgreen;
  --shadow-pixels: 2px 2px 5px 2px;
  --header-shadow-color: green;
  --highlight-color: #ffdfdf;
  --highlight-intent-color: #ffbaba;
  --highlight-intense-color: #ffaaaa;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--main-bg-color);
  min-height: 100vh;
}

.app {
  display: grid;
  grid-template-rows: min-content auto min-content;
  min-height: 100vh;
}


.tabButtons button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 1em;
  transition: 0.3s;
}

.tabButtons {
  overflow: hidden;
  border: 1px solid var(--highlight-intense-color);
  background-color: var(--highlight-color);
}

.tabButtons button:hover {
  background-color: var(--highlight-intent-color);
}

.tabButtons button.active {
  background-color: var(--highlight-intense-color);
}

.project {
  margin:2px;
  border: 1px var(--highlight-intense-color) solid;
  padding-left: 1em;
  max-width: 50em;
  cursor: grab;
  border-radius: 1ex;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.mono {
  font-family: monospace
}

.rightalign {
  text-align: right
}

.large {
  font-size: large;
}

.veryLarge {
  font-size: xx-large
}


.completedCard {
  border: 1px gray solid;
  background-color: white;
  box-shadow: var(--shadow-pixels) var(--header-shadow-color);
  border-radius: 1em;
  padding: 1em;
  margin: 0.5em;
  width: minmax( min-content, 100vw );
}

.seconds {
  color: gray;
  font-size: small;
}

.fiveRowScrollable {
  height: 10em;
  overflow-y: auto;
}

.floatContainer {
  overflow: hidden;
}

.floatLeft {
  float: left;
}


.projectslist ul {
  border: 1px gray solid;
  padding: 0.5em;
}
.projectslist ul li {
  margin-left: 0em;
  text-overflow: ellipsis;
  border-color: black;
}

.halfscreengrid {
  max-width: 100vw;
  display: grid; 
  grid-template-columns: repeat(auto-fit, minmax(40vw, auto));
  justify-items: center;;
}

.grid600 {
  grid-template-columns: repeat(auto-fit, minmax(600px, 1fr));
}
.w600 {
  width: 600px;
}

footer {
  text-align: center;
  padding: 1em;
  color: rgb(0,0,0,0.7)
}
footer a {
  color: inherit;
}

.timedisplay {
  display: inline-block;
  width: 9ch;
}
.settings {
  text-align: center;
  background-color: rgba(0,0,0,0.2);
  box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.4);
}

.intervalproject {
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis "..";
  white-space: nowrap;
}