:root {
  --main-bg-color: lightcyan;
  --header-bg-color: lightgreen;
  --shadow-pixels: 2px 2px 5px 2px;
  --header-shadow-color: green;
  --highlight-color: #ffdfdf;
  --highlight-intent-color: #ffbaba;
  --highlight-intense-color: #ffaaaa;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--main-bg-color);
  min-height: 100vh;
}

.app {
  display: grid;
  grid-template-rows: min-content auto min-content;
  min-height: 100vh;
}

header {
  justify-content: center;
  padding-top: 0.2em;
  padding-bottom: 0.7em;
  background-color: var(--header-bg-color);
}

.logo {
  width: 64px;
  height: 64px;
  background: url('images/malibi_concept_64.png'), lightgreen;
  border-radius: 15px;
  text-align: center;
  margin: 3px;
  box-shadow: var(--shadow-pixels) var(--header-shadow-color);
  position: relative;
}

.logo span {
  position: relative;
  top: 64px;
  font-weight: bold;
  font-style: italic;
  color: var(--header-shadow-color);
  background-color: lightcoral;
  padding: 3px 6px 0px 3px;
  border-radius: 8px;
  box-shadow: 2px 2px 1px 1px darkred;
}

.speechbubble {
  border-radius: 0.5em;
  background-color: white;
  border: 1px black solid;
  padding-left: 1em;
  padding-right: 1em;
  margin-left: 1em;
  box-shadow: var(--shadow-pixels) var(--header-shadow-color);
  margin-bottom: 2px;
  position: relative;
}
.speechbubble:after {
  content: '';
  position: absolute;
  top: 25px;
  left: -30px;
  width: 35px;
  height: 15px;
  background-color: transparent;
  border-bottom-left-radius: 50px;
  box-shadow: 5px 10px 0px 0px white;
}

.buttonGrid {
  display: grid;
  grid-gap: 2px;
  width: min-content;
  margin: 2px;
}

.buttonGrid button {
  border: none;
  outline: none;
  background-color: #f1f1f1;
  font-size: large;
  transition: 0.3s;
  padding-left: 1em;
  padding-right: 1em;
  border: 1px solid #d1d1d1 ;
}

.buttonGrid button:hover {
  background-color: var(--highlight-intent-color);
}

table td{
  background-color: var(--header-bg-color);
}
.tinfo,th {
  background-color: var(--header-shadow-color);
}
td.total {
  background-color: var(--highlight-color);
}

td.projectCell {
  background-color: var(--header-bg-color);
  text-align: left;
}
td.projectCell div {
  width: 15em;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.tabButtons button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 1em;
  transition: 0.3s;
}

.tabButtons {
  overflow: hidden;
  border: 1px solid var(--highlight-intense-color);
  background-color: var(--highlight-color);
}

.tabButtons button:hover {
  background-color: var(--highlight-intent-color);
}

.tabButtons button.active {
  background-color: var(--highlight-intense-color);
}


.project {
  margin:2px;
  border: 1px var(--highlight-intense-color) solid;
  padding-left: 1em;
  max-width: 50em;
  cursor: grab;
  border-radius: 1ex;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.mono {
  font-family: monospace
}

.rightalign {
  text-align: right
}

.large {
  font-size: large;
}

.veryLarge {
  font-size: xx-large
}


.timesTable th {
  min-width: 10ex;
}

.completedCard {
  border: 1px gray solid;
  background-color: white;
  box-shadow: var(--shadow-pixels) var(--header-shadow-color);
  border-radius: 1em;
  padding: 1em;
  margin: 0.5em;
  width: min-content;
}

.seconds {
  color: gray;
  font-size: small;
}

.fiveRowScrollable {
  height: 10em;
  overflow-y: auto;
}

.floatContainer {
  overflow: hidden;
}

.floatLeft {
  float: left;
}


.projectslist ul {
  border: 1px gray solid;
  padding: 0.5em;
}
.projectslist ul li {
  margin-left: 0em;
  text-overflow: ellipsis;
  border-color: black;
}

.halfscreengrid {
  display: grid; 
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  justify-items: center;;
}

.grid600 {
  grid-template-columns: repeat(auto-fit, minmax(600px, 1fr));
}
.w600 {
  width: 600px;
}

footer {
  text-align: center;
  padding: 1em;
  color: rgb(0,0,0,0.7)
}
footer a {
  color: inherit;
}