:root {
  --main-bg-color: lightcyan;
  --header-bg-color: lightgreen;
  --shadow-pixels: 2px 2px 5px 2px;
  --header-shadow-color: green;
  --highlight-color: #ffdfdf;
  --highlight-intent-color: #ffbaba;
  --highlight-intense-color: #ffaaaa;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--main-bg-color);
  min-height: 100vh;
}

.app {
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  min-height: 100vh;
}


.tabButtons>button {
  background-color: inherit;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 1em;
  transition: 0.3s;
}

.tabButtons {
  display: grid;
  grid-template-columns: repeat( auto-fill, minmax(9ch, 1fr));
  max-width: 100%;
  border: 1px solid var(--highlight-intense-color);
  background-color: var(--highlight-color);
}

.tabButtons>button:hover {
  background-color: var(--highlight-intent-color);
}

.tabButtons>button.active {
  background-color: var(--highlight-intense-color);
}


.mono {
  font-family: monospace
}

.rightalign {
  text-align: right
}

.large {
  font-size: large;
}

.veryLarge {
  font-size: xx-large
}


.completedCard {
  border: 1px gray solid;
  background-color: white;
  box-shadow: var(--shadow-pixels) var(--header-shadow-color);
  border-radius: 1em;
  padding: 1em;
  margin: 0.5em;
  max-width: 95vw;
}

.seconds {
  color: gray;
  font-size: small;
}

.fiveRowScrollable {
  height: 10em;
  overflow-y: auto;
}

.floatContainer {
  overflow: hidden;
}

.floatLeft {
  float: left;
}



footer {
  text-align: center;
  padding: 1em;
  color: rgb(0,0,0,0.7);
  background-color: var(--highlight-color);
}
footer a {
  color: inherit;
}

.timedisplay {
  display: inline-block;
}
.timedisplay.hasseconds {
  width: 9ch;
}
.timedisplay.justminutes {
  width: 5ch;
}

.settings {
  text-align: center;
  background-color: rgba(0,0,0,0.2);
  box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.4);
}

.intervalproject {
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis "..";
  white-space: nowrap;
}

.pageContainer {
  position: relative;
  width: 100vw;
  overflow-x: hidden;
  display: grid;
  grid-template-rows: min-content 1fr;
  height: 80vh;
}

.dndlist {
  display: none;
  position: relative;
}
.dndmenu {
  top: 100%;
  position: absolute;
  z-index: 999;
  background-color: var(--header-bg-color);
  border: 1px solid var(--header-shadow-color);
  border-radius: 0.2em;
}

/* Small screens are better off without the drag and drop list */
@media only screen and (min-width: 600px) {
  .dndlist {
    position: absolute;
    display: block;
  }
}
.dndlist>button {
  background-color: var(--highlight-color);
  border: 1px solid var(--highlight-intent-color)
}
.dndmenu>label {
  display: block;
  width: 100%;
  text-align: center;
  background-color: rgba(255,255,255,0.4);
}
.dndmenu .project {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin-bottom: 0.4em;
  transition: 0.2s;
  border: 1px solid gray;
  max-width: 40ch;
  padding-left: 1em;
  padding-right: 1em;
  margin-left: 5px;
  margin-right: 5px;
}
.dndmenu .project:hover {
  color: white;
  border-color: white;
}

/* Custom switch inputs */
.switch {
  position: relative;
  display: inline-block;
  border: 3px solid var(--main-bg-color);
  margin: -3px;
  cursor: pointer;
  border-radius: 0.5em;
}
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
.switch .slider {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 50%;
  background-color: var(--highlight-intent-color);
  transition: 0.5s;
  text-align: center;
  border-radius: 0.5em;
}
/*
.switch input:checked + .slider {
  background-color: gray;
}
*/
.switch input:checked + .slider {
  transform: translateX(100%)
}

/* Alibi edit popup */
.alibiedit {
  position: relative;
  text-align: left; 
  padding-right: 1em;
}
.alibiedit>button.selected {
  background-color: var(--highlight-color);
}
.alibiedit>.alibiformcontainer {
  position: fixed;
  width: 300px;
  background-color: var(--highlight-color);
  border: 1px black solid;
  border-radius: 0.5em;
  overflow: hidden;
  box-shadow: 5px 5px 5px 5px gray;
  top: 25%;
  left: 50%;
  margin-left: -150px;
  z-index: 500;
  text-align: center;
}
.alibiedit>.alibiformcontainer:before {
  z-index: -1;
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
}
.alibiform>.closebutton {
  width: 96%;
  background-color: gray;
  text-align: center; 
  cursor: pointer;
  border-radius: 0.5em;
  margin-left: 2%;
  margin-right: 2%;
  margin-top: 0.2em;
  transition: 0.2s;
}
.alibiform>.closebutton:hover {
  background-color: darkred;
  color: white;
}
.alibiform{
  background-color: var(--highlight-color);
}
.alibiform>.updatebutton {
  width: 96%;
  cursor: pointer;
  border-radius: 0.5em;
  margin-left: 2%;
  margin-right: 2%;
  margin-bottom: 0.2em;
  border-color: var(--header-shadow-color);
  background-color: var(--header-bg-color);
  transition: 0.2s;
}
.alibiform>.updatebutton:hover {
  background-color: var(--main-bg-color);
}
.alibiformsections {
  margin-top: 0.2em;
  margin-left: 0.2em;
  margin-right: 0.2em;
  border-radius: 1em;
  overflow: hidden;
  border: 1px solid gray;
}
.alibiformsection {
  padding-bottom: 1em;
  background-color: var(--main-bg-color);
}
.alibiformsection>.title {
  background-color: var(--highlight-intent-color);
  text-align: center;
}